.srnoanddate{
    display: flex;
    font-size: 1rem;
    border: rgb(199, 137, 137) 2px double;
}
.paymentsr{
    width: 50%;
    text-align: left;
}
.paymentdate{
    width: 50%;
    text-align: right;
}
table{
    width: 100%;
}
input[type="date"]{
    max-width: 110px;
    width: 50%;
}
table input[type = "text"]{
    width: 80%;
}
table input[type = "number"]{
    width: 50%;
}
.narrationandbuttons {
    position: absolute;
    bottom: 0;
}
input[type="button"],
input[type="reset"]{
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
}